#contact {
    min-height: 100vh;
    position: relative;

}

#contact h1{
    padding: 1rem;
    text-align: center;
    font-family:  "Pinyon script", serif;
    font-weight: 400;
    max-width: 30rem;
    margin-block: auto;
    margin-inline: auto;
    margin-top: 4rem;

}


.contact_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    color: #fff;
    padding: 20px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    flex-wrap: wrap;
    min-width: 100%;
    bottom: 2rem;
    position: absolute;
    padding-block: 3rem;

  }
  
  .footer-left h3 {
    margin-bottom: 10px;
  }
  
  .footer-left h2 {
    font-size: 24px;
    margin: 0;
    font-family: "Signika", serif;
  }
  
  .footer-center h3 {
    margin-bottom: 10px;
    text-align: center;
  }
  
  .footer-center p {
    margin: 0;
    font-family: "Signika", serif;
  }
  
  .footer-right h3 {
    margin-bottom: 10px;
  }

  .footer_social_media{
    display: flex;
    gap: 1rem;


  } 
   .footer_social_media a img{
    height: 2rem;
    border-radius:2rem;


    background: white;
          padding: .2rem;


  }


  
  
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    font-size: 12px;
  }
  
  .footer-bottom p {
    margin: 0;

  }
  .footer-bottom{
        background: white;
        color: #181818;
        position: absolute;
        bottom: 0;
        padding: 1rem;
        
        
  }


  @media (max-width:768px) {

    .contact_bottom{
      flex-wrap: wrap;
      gap: 2rem;
      align-items: center;
      
    }

  }
  